
.fondo1 {
    background-image: url("../pictures/Korea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.titulo {
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: yellow;
}

.link {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: purple;
    text-decoration: none; 
}

.curved-img {
  border-radius: 15px;         /* rounds the corners */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3); /* adds soft shadow */
  transition: 0.3s;            /* smooth hover animation */
}

.curved-img:hover {
  transform: scale(1.05);      /* enlarges slightly on hover */
  cursor: pointer;             /* shows pointer like a button */
}