/* Propiedades de la cabecera */
.header {
  width: 100%;
  height: 70px;
  background-color: #5E3F90;
  font-family: "Comic Sans MS";
  font-size: 35px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

/* Propiedades para el menú */
.menu {
  width: 100%;
  height: 70px;
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

/*Propiedades para la seccion*/
.section {
    width: 100%; 
    background-color: #D4CBD4; 
    border-radius: 5px; 
    text-align: center;
    padding: 10px;
}

/*Propiedades de pie*/
.footer{
    width: 100%;
    height: 50px;
    background-color: bisque;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Propiedades y efectos de barra de menu y botones */
ul, ol { /*Propiedades de las etiqyetas ul y ol*/
    list-style-type: none; font-family: "sans-serif"; font-size: 20px;
}

.nav { /*Propiedades de la clase nav para la barra de menu*/
    width: 500px; /*espacio para los botones*/
    margin: 0 auto; /*centrar botones*/
}

.nav > li { /*creacion de subcase para efectos de botones*/
    float: center; /*alinear botones al centro*/
}

.nav li a { /*Propiedades de los hipervinculos <3 href="">*/
    background-color: black; color: white;
    text-decoration: none; padding: 18px 12px; display: block;
}

.nav li a:hover { /*efectos transicion de color*/
    background-color: black;
}

.nav li  ul { /*Propiedades de los botones*/
    display: none;
    position: absolute;
    min-height: 140px;
}

.nav li:hover > ul { /*Efectos de los botones para transicion*/
    display: block;
}

.nav li ul li { /*Efectos sobre los botones al pasar el mouse*/
    position: relative;
}

.nav li ul li ul { /*Alineacion de los textos en los botones y efectos*/
    right: -140px; top: 0px;
}

