
.fondo1 {
    background-image: url("Korea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.titulo {
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: yellow;
}

.link {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: purple;
    text-decoration: none; 
}